{% extends "base.html.twig" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

    <div class="bg privacy">

        <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>

        <p>La présente politique a pour but d’indiquer la manière dont notre société collecte, utilise et protège les données à caractère personnel vous concernant, dans le cadre de votre utilisation du présent site web. Cette utilisation se fait en conformité avec les lois et règles applicables, en ce compris la loi belge du 8 décembre 1992 relative à la protection de la vie privée à l’égard des traitements de données à caractère personnel (la loi vie privée) et le Règlement Européen 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (le Règlement Général sur la Protection des Données ou RGPD), applicable à partir du 25 mai 2018.</p>

        <h3>Qui traite vos données ?</h3>

        <p>Le responsable du traitement des données à caractère personnel vous concernant, telles que collectées sur le présent site web, est la société VeggieNoodle SAS. Celle-ci est dénommée ci-après « notre société » ou « nous ».</p> 

        <h3>Quels sont les types d’informations que nous collectons ?</h3>
        <p>Nous collectons principalement les informations et données que vous nous fournissez lors de l’utilisation de notre site web et de nos services.</p> 

        <p>Lorsque vous utilisez notre formulaire de contact : nous récoltons votre nom, votre adresse mail, votre numéro de téléphone.
        Lorsque vous participez à des enquêtes : nous récoltons votre nom, votre adresse mail, la fréquentation de visites, la date et feedback de votre dernière visite.
        Lorsque vous réservez en ligne : nous récoltons votre nom, votre prénom, votre adresse mail, votre numéro de téléphone.
        Notre société n’utilise pas des données à caractère personnel vous concernant obtenues par l’intermédiaire de tiers.</p>

        <h3>Comment et pourquoi utilisons-nous vos données ?</h3>
        
        <p>Notre société utilise toujours vos données à caractère personnel en se reposant sur un des critères prévu dans la loi pour la licité du traitement. L’utilisation de vos données se fait principalement dans un but :</p>
        
        <div class="list">
            <ul>
                <li>de vous livrer/fournir des produits/services et d’améliorer une telle livraison ou fourniture de produits/services ;</li>
                <li>d’améliorer votre expérience sur notre site web et de traiter les éventuelles plaintes y-relatives ;</li>
                <li>de vous proposer des avantages liés à votre fidélité ;</li>
                <li>de communiquer avec vous ;</li>
                <li>de gérer nos activités ;</li>
                <li>de mener nos campagnes de marketing et de publicité ;</li>
                <li>de prévention de la fraude ;</li>
                <li>d’assurer la sécurité du site web ;</li>
                <li>d’analyse statistique de notre clientèle.</li>
            </ul>
        </div>
        
        <p>Pour le traitement de vos données à caractère personnel, notre société se fonde toujours :</p>
        
        <p>Soit, sur le consentement que vous avez exprimé par votre inscription à la newsletter ou de manière implicite auquel cas ce consentement se déduira de vos comportements sur notre site (par exemple, en choisissant de nous contacter via le formulaire de contact). Dans un tel cas, vous avez toujours la possibilité de retirer votre consentement pour l’avenir ;
        Soit, sur un autre critère prévu dans la loi : par exemple, si la collecte de données est nécessaire à l’exécution d’un contrat auquel vous êtes partie ou si celle-ci est nécessaire au respect d’une obligation légale à laquelle nous sommes soumis. Dans certains cas, il se peut également que le traitement de vos données soit nécessaire à la sauvegarde de vos intérêts vitaux ou à la réalisation de l’intérêt légitime de notre société.
        Ainsi, notre société collecte et traite vos données toujours légalement. Ce traitement se fait dans les buts suivants :</p>

        <div class="list">
            <ul>
                <li>de fournir et améliorer ceux de nos services que vous avez demandés, par exemple la modification ou l’adaptation des données ;</li>
                <li>d’améliorer votre expérience sur notre site web ;</li>
                <li>de vous proposer des avantages liés à votre fidélité, par exemple des actions promotionnelles et avantages ;</li>
                <li>de communiquer avec vous, par exemple, pour vous envoyer nos offres et promotions du moment ainsi que vous avertir d’éventuels évènements ;</li>
                <li>de mener nos campagnes de marketing et de publicité ;</li>
                <li>de prévention de la fraude ;</li>
                <li>d’assurer la sécurité du site web ;</li>
                <li>d’analyse statistique de notre clientèle, de manière anonyme et uniquement afin d’améliorer la qualité de nos services.</li>
            </ul>
        </div>

        <h3>Comment et avec qui ces informations sont-elles partagées ?</h3>
        
        <p>Notre société ne partage pas vos données avec des tiers.</p>
        <p>En outre, notre société est obligée de communiquer vos données à caractère personnel lorsqu’une telle communication est rendue obligatoire par la loi, un décret ou une ordonnance ou encore une décision de justice.</p>
        <p>Dans tous les cas, nous nous engageons à assurer la confidentialité de vos données, notamment par la conclusion de contrats adéquats avec nos partenaires.</p>
        
        <h3>Comment pouvez-vous gérer/accéder à/supprimer/ vos données ?</h3>

        <p>Conformément à la loi vie privée et au règlement général sur la protection des données, vous avez le droit de :</p>

        <div class="list">
            <ul>
                <li>consulter et accéder à vos données ainsi qu’aux informations essentielles concernant le traitement (finalités du traitement, catégories de données traitées etc) ;</li>
                <li>demander leur correction ou, si nécessaire, leur suppression, dans les conditions de l’article 17 du RGPD, et notamment lorsque celles-ci ne sont plus nécessaires en vue des finalités pour lesquelles elles ont été collectées/traitées ou lorsque vous retirez votre consentement ;</li>
                <li>vous opposer au traitement des données vous concernant dans certains cas spécifiques détaillés à l’article 21 du RGPD, en ce compris les opérations de marketing direct ; dans un tel cas, nous ne traiterons plus vos données sauf s’il existe des motifs légitimes et impérieux pour ce faire, prévalant sur vos intérêts et droits et libertés ou si le traitement est nécessaire pour la constatation, l’exercice ou la défense de droits en justice ;</li>
                <li>vous opposer à une décision individuelle automatisée, y compris au profilage, dans les conditions de l’article 22 du RGPD ;</li>
                <li>demander la limitation du traitement, dans certains cas détaillés à l’article 18 du RGPD, et notamment lorsque vous contestez l’exactitude des données, pendant une durée nous permettant de vérifier l’exactitude de ces données ;</li>
                <li>recevoir vos données à caractère personnel dans un format permettant leur portabilité, à savoir leur transmission à un autre responsable de traitement, dans les conditions détaillées à l’article 20 du RGPD ainsi que, si techniquement possible, obtenir que les données soient directement transmises d’un responsable de traitement à un autre.</li>
            </ul>
        </div>

        <p>Vous pouvez exercer ces droits en adressant une demande écrite par mail à l’adresse veggienoodle@test.fr ou par la poste à l’adresse 2 rue de l'Eglise, 44590 Mouais.</p>

        <h3>Combien de temps conservons-nous vos informations ?</h3>
        <p>Les données collectées sont conservées aussi longtemps que nécessaire afin de fournir nos services et aux fins des finalités décrites (voirComment et pourquoi utilisons-nous vos données ?). La durée de conservation de vos données n’excédera jamais 10 ans. En outre, vous pouvez toujours demander l’effacement de vos données (voir Comment pouvez-vous gérer/accéder à/supprimer/ vos données ? ).</p>
        <h3>Vos données seront-elles transférées en dehors de l’espace economique européen ?</h3>
        <p>Notre société conserve toutes vos données sur des serveurs situés à l’intérieur de l’Espace Economique Européen de sorte que leur protection est pleinement assurée. Celles-ci ne sont en aucun cas transférées à des tiers ou sur des serveurs situés en dehors de l’Espace Economique Européen.</p>
        <h3>Comment assurons-nous la sécurité de vos données ?</h3>
        <p>Nous mettons en place des mesures techniques, administratives et physiques visant à garantir pleinement la sécurité de vos données contre une éventuelle destruction, perte ou modification.</p>

        <h3>Comment serez-vous informé des modifications apportées à cette politique de confidentialité ?</h3>
        <p>Cette politique de confidentialité peut être modifiée à l’occasion sans que nous ne vous en informions au préalable. Nous vous recommandons donc de consulter régulièrement cette politique.</p>

        <h3>Comment nous contacter ?</h3>
        <p>Vous pouvez nous contacter :</p>

        <div class="list">
            <ul>
                <li>via le formulaire de contact disponible sur notre site web</li>
                <li>par e-mail à l’adresse veggienoodle@test.fr</li>
                <li>par téléphone au numéro 02 44 05 13 77</li>
            </ul>    
        </div>
    </div>

{% endblock %}