{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="bg admin">

        <h1>Bienvenue sur votre dashboard !</h1>

        <a class="dashboard-button" href="{{path('app_admin_food_list')}}"> Gérer la carte </a>
        <a class="dashboard-button" href="{{path('app_admin_user_list')}}"> Gérer les utilisateurs </a>
        <a class="dashboard-button" href="{{path('app_admin_booking_list')}}"> Gérer les réservations </a>
        <a class="dashboard-button" href="{{path('app_admin_comment_list')}}">Gérer les commentaires</a>

    </div>
    

{% endblock %}