<footer>
    <div class="footer-top">
        <div class="line"></div>
        <a href="{{path('app_default_show_legalnotice')}}" class="text-muted">Mentions légales |</a> 
        <a href=" {{path('app_default_show_privacy')}} " class="text-muted">Politique de confidentialité </a>
    </div>
    <div class="footer-mid">
        <div class="footer-mid-left">
            <h3>Horaires d'ouverture</h3>
            <ul>
                <li>Du lundi au jeudi :</li>
                <li>De 12h à 14h, puis de 18h30 à 22h</li>
                <li>Le vendredi :</li>
                <li>De 12h à 14h, puis de 18h30 à 23h30</li>
                <li>Le samedi :</li>
                <li>De 11h30 à 23h</li>
                <li>Le dimanche :</li>
                <li>De 11h30 à 15h</li>
            </ul>
        </div>
        <div class="footer-mid-right">
            <h3>Contact</h3>
            <ul>
                <li><strong>Adresse :</strong></li>
                <li>2 rue de l'Eglise,</li>
                <li>44590 Mouais</li>
                <li> <a class="map-link" href="https://www.google.com/maps/place/2+Pl.+de+l'%C3%89glise,+44590+Mouais/@47.6964145,-1.6445173,17z/data=!3m1!4b1!4m5!3m4!1s0x480f41bc3d2b2dbf:0x8608baac333862bc!8m2!3d47.6964145!4d-1.6445173">Y aller <i class="fa-solid fa-map-location-dot"></i></a> </li>
                <li><strong>Téléphone :</strong></li>
                <li>02 44 05 13 77</li>
            </ul>
        
        </div>
    
    </div>
    <div class="footer-bottom">
        <p>Projet Symfony &copy; VeggieNoodle {{ "now"|date('Y') }} - Par  <a href="https://github.com/Moonshield7">Moonshield7</a></p>
    </div>
    
</footer>